.DS_Store
.idea
app
php-fpm/conf/php-fpm.conf
php-fpm/conf/php.ini
composer-pkgs
!composer-pkgs/README.md
!composer-pkgs/composer.*
data
!data/README.md
logs
!logs/nginx/README.md
!logs/php-fpm/README.md
.idea
vhost.conf
docker-compose.yml
.phpstorm.meta.php
