nginx:
    restart: always
    image: bitnami/nginx
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - $PWD/app:/app
        - $PWD/vhost.conf:/bitnami/nginx/conf/vhosts/dockerapp.conf
        - $PWD/logs/nginx:/bitnami/nginx/logs
    links:
        - "phpfpm:phpfpm_machine"
        - "mysql:mysql_machine"
phpfpm:
    restart: always
    image: bitnami/php-fpm:5.6.18-0
    ports:
        - "9000:9000"
    expose:
        - "9000"
    volumes:
        - $PWD/app:/app
        - $PWD/php-fpm/conf:/bitnami/php-fpm/conf
        - $PWD/logs/php-fpm:/bitnami/php-fpm/logs
    links:
        - "mysql:mysql_machine"

mysql:
    restart: always
    image: mysql:5.6
    ports:
        - "3306:3306"
    expose:
        - "3306"
    volumes:
        - $PWD/data:/var/lib/mysql
    environment:
        - MYSQL_ROOT_PASSWORD=root
